<div class="col-sm-8 blog-main">
  <div class="blog-post">
    <h1 class="blog-post-title margin-bottom-20">Editing Blog</h1>

    <%= render 'form', blog: @blog %>
  </div>
  <div>
    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', blogs_path %>
  </div>
</div>
