<div class="col-sm-8 blog-main">
  <div class="blog-post">
    <p id="notice"><%= notice %></p>
    <h2 class="blog-post-title margin-bottom-20"><%= @blog.title %></h2>
    <p><%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %></p>
    <p><%= @blog.body %></p>
  </div>
  
</div>

