<div class="col-md-8 blog-main">
    <h3 id="blog-page-logo" class="pb-4 mb-4 font-italic border-bottom">
    But I'm Not A Developer
    </h3>
    <p>My blog about me pretending I know how to be a developer</p>
</div>