<div role="main" class="inner cover">
    <h1 class="cover-heading">Hello, I'm Zach Sebacher</h1>
    <p class="lead">A software developer with a passion for solving problems</p>
    <p class="lead">
        <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>